@media only screen and (max-width:1000px){
    .sub-section1 {
        display: flex;
        flex-wrap: wrap;
        height: auto;
        width: 80%;
        padding: 0;

    }
    .sub-section{
        display: flex;
        flex-wrap: wrap;
        height: auto;
        width: 80%;
        padding: 0;
    }
    .sub-section .city-image{
        align-items: center;

    }
    .city-container,h2{
        text-align: center;
        font-size: 30px;
        }
        .city-container p{
            font-size: 20px;
            text-align: center;
        }
        
        .city-container.city-image{
            text-align: center;
            border-radius: 1em;
            
            }
    .city-card p{
        text-align: justify;
        font-size: 20px;

    }
   
    .foreign_languages{
        display: flex;
        flex-wrap: wrap;
        height: auto;
        width: 80%;
        padding: 0;
        
        }
        .tables{
            margin: 0;
            padding: 0;
        }
    .history{
        display: flex;
        flex-wrap: wrap;
        height: auto;
        width: 80%;
        padding: 0;
        }
        .history h2{
            text-align: center;
        }
        .history .content {
            margin: 1em;
            padding: 1em;
            width: 80%;
            text-align: center;
            border-radius: 2em;  
        }
        /*.content{
            margin: 0;
            padding: 0;
            text-align: center;
        }
        .content,h3{
            text-align:left;
            font-size: 20px;
        }
        .content,p{
            text-align:left;
            font-size: 20px;
        }
        .content img{
            border-radius: 1em;
            align-items: right;
        }*/
        div.content{
            display: flex;
            margin: 0;
            padding: 0;
             }
        div#first p{
            font-size: 10px;
            text-align: left;
        }
        div#first h3{
            font-size: 20px;
            text-align: left;
        }
        div#first img{
            width: 100px;
            height: 100px;
            text-align: right;
        }
        div#second p{
            font-size: 10px;
            text-align: left;
        }
        div#second h3{
            font-size: 15px;
            text-align: right;
        }
        div#second img{
            width: 100px;
            height: 100px;
            text-align: left;
        }
        div#third p{
            font-size: 10px;
            text-align: left;
        }
        div#third h3{
            font-size: 15px;
            text-align: left;
        }
        div#third img{
            width: 100px;
            height: 100px;
            text-align: right;
        }
        footer{
            text-align: center;
           
        }
}